
{% extends 'base.html' %}

{% block main %}
    <div class="row row-cols-6">
        <div class="col">
          Olá {{ usuario.funcionario.nome }}
        </div>
        <div class="col">
            <a href="{% url 'create_processo' %}">Novo Processo</a> <br>
            <a href="{% url 'list_processo' %}">Listar Processo</a>
        </div>
        <div class="col">
          Olá {{ usuario.funcionario.nome }}
        </div>
        <div class="col">
          <a href="{% url 'create_departamento' %}">Novo Departamento</a> <br>
          <a href="{% url 'list_departamento' %}">Listar Departamento</a>
        </div>
        <div class="col">
            <a href="{% url 'create_funcionario' %}">Novo Funcionário</a> <br>
            <a href="{% url 'list_funcionario' %}">Listar Funcionário</a>

        </div>
        <div class="col">
          <a href="{% url 'logout' %}">Logout</a>
        </div>
  </div>
{% endblock %}